{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLMS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/master.css' %}"> 
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">  -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'CSS/Login.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/footer.css' %}"> 
</head>
{% block content %} {% endblock content %}
<body>

</html>